.container {
  width:400px;
  margin: 0px auto;
  text-align: center;
}

.row {
  clear: both;
}

.covered {
  background-image: url(http://i.imgur.com/HM1e3Tbb.jpg);
  background-size: 28px; 
  background-position:right 0px; 
  background-repeat:no-repeat; 
  height:26px;
  min-width: 26px;
}
.uncovered {
  background-size:28px; 
  background-position:right 0px; 
  background-repeat:no-repeat; 
  height:26px;
  min-width: 26px;
}

.select select, .textfield input, .textfield textarea {
  padding: 0 !important;
}
.btn {
  height: 2.8rem !important;
  line-height: 2.8rem !important;
}

.game-notes {
  height: 4rem;
}


table {
  width: auto !important;
  margin: 20px auto;
  border-top: 4px solid #555555;
  border-right: 4px solid #555555;
  border-left: 4px solid #bbbbbb;
  border-bottom: 4px solid #bbbbbb;
}

table td, table th {
  padding: 0 0 !important;
}